.produtos {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.produtosContainerStar,
.produtosContainerConsole {
  display: flex;
  gap: 1rem;
}

.produtosTitle {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  color: #464646;
}

.consoles {
  margin-top: 40px;
}

.produtosCard img {
  margin-top: 1rem;
}

.produtosText {
  display: flex;
  flex-direction: column;
}

.produtosProduto {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #464646;
}

.produtosPreco {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #464646;
  font-weight: 700;
}

.produtosLink {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #2a7ae4;
  font-weight: 700;
}
